.header {
    padding-left: 100px;
}
.tbl {
    width: 800px;
    border-collapse: collapse;
}

.btn {
    height: 25px;
    width:70px;
}

.tbl_create {
    width: 600px;
    border-collapse: collapse;
}

.txtBx {
    width: 300px;
    height: 25px;
}

.msg {
    font-size: 20px;
    font-weight: bold;
    color: red;
}
