<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of books</title>
<!--    <link rel="stylesheet" href="styleOfBook.css"/>-->
    <script src="funcOfBook.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="header" align="center">
    <h2>Book List</h2>
</div>
<div class="body" align="center">
    <form>
            <span>
                <button type="button" class="btn btn-success" value="Create" title="Create new book" th:onclick="|window.location.href ='@{/createNewBook}'|"><i class="fas fa-plus-circle" ></i></button>&emsp;&emsp;
                <button type="button" class="btn btn-primary" value="Update" title="Update information book" onclick="updateUnit()"><i class="fas fa-wrench"></i></button>&emsp;&emsp;
                <button type="button" class="btn btn-danger" value="Delete" title="Delete book" onclick="deleteBook()"><i class="far fa-trash-alt"></i></button>&emsp;&emsp;
                <button type="button" class="btn btn-info" value="Detail" title="Show information of book"><i class="fas fa-info-circle"></i></button>&emsp;&emsp;
                <button type="button" class="btn btn-warning" value="Image" title="Show image" th:onclick="|window.location.href ='@{/viewImage}'|"> <i class="far fa-images"></i></button>


            </span>
        <br><br>
        <th:block th:if="${bookList.size()!=0}">
        <table class="table-info" cellpadding="6" cellspacing="4" border="1">
            <tr>
                <td><input type="checkbox" id="selectedAll" onclick="selectAll()">
<!--                    <label class="custom-control-label" for="selectedAll"></label>-->
                </td>
<!--                <th align="center">Book ID</th>-->
                <th>Name</th>
                <th>Author</th>
                <th>Price</th>
                <th>Publishing Year</th>
            </tr>
            <tr th:each="bookInf:${bookList}">
                <td><input type="checkbox" name="checkUnit" onclick="check()" th:value="${bookInf.getId()}"/></td>
<!--                <td th:utext="${bookInf.getId()}" align="center">Id</td>-->
                <td th:utext="${bookInf.getName()}">Name</td>
                <td ><a href="#" th:utext="${bookInf.getAuthor()}"></a></td>
                <td th:utext="${bookInf.getPrice()}">Price</td>
                <td th:utext="${bookInf.getPublishingYear()}" align="center">Publishing year</td>
            </tr>
        </table>
        </th:block>
        <th:block th:if="${bookList.size()==0}">
            <p class="msg" th:utext="${msg}"></p>
        </th:block>
    </form>
</div>
</body>
</html>
